body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    /* button size */
    width: 75px;
    aspect-ratio: 2;

    /* button shape */
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin: 5px;

    /* colors */
    background-color: rgb(60, 56, 254);
    color: whitesmoke;

    /* text */
    color: whitesmoke;
    font-family: "Neucha", cursive;
    font-size: 1.2em;
}
